@model IEnumerable<LEA_ProyectoMultimedia2024_V2_.Models.Tables.HistorialPedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EstadoAnterior)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NuevoEstado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCambio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orden)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoAnterior)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NuevoEstado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCambio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orden.OrdenId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HistorialId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HistorialId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HistorialId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
