@model IEnumerable<LEA_ProyectoMultimedia2024_V2_.Models.Tables.MetodoPago>

@{
    ViewData["Title"] = "Index";
}

<h1>Metodos de pago</h1>

<p>
    <a asp-action="Create" class="btn btn-success d-grid gap-2 d-grid">Crear metodo de pago</a>
</p>
<table class="table" id="Tabla">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoTarjeta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroTarjeta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaExpiracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cvv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoTarjeta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroTarjeta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaExpiracion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cvv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Nombre)
            </td>
            <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.MetodoPagoId">Editar</a> 
                        <a asp-action="Details" class="btn btn-warning" asp-route-id="@item.MetodoPagoId">Detalles</a> 
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.MetodoPagoId">Eliminar</a>
                </div>

            </td>
        </tr>
}
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#Tabla').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
                }
            });

        });
    </script>
}