@model IEnumerable<LEA_ProyectoMultimedia2024_V2_.Models.Tables.MetodoPago>

@{
    ViewData["Title"] = "Metodos de pago";
}

<h1>Metodos de pago</h1>

<p>
    <a asp-action="PVCreate" id="BotonC" class="btn btn-success d-grid gap-2 d-grid">Crear metodo de pago</a>
</p>
<table class="table" id="TablaMetodoDePago">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoTarjeta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroTarjeta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaExpiracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cvv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoTarjeta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroTarjeta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaExpiracion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cvv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Nombre)
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button class="btn btn-sm btn-info me-2" onclick="EditMetodoDepago(@item.MetodoPagoId)">Editar</button>
                        <button class="btn btn-sm btn-primary me-2" onclick="DetailsMetodoDePago(@item.MetodoPagoId)">Detalles</button>
                        <button type="button" class="btn btn-danger text-end" onclick="openDeleteModal('@item.MetodoPagoId', '@item.TipoTarjeta')">Eliminar</button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal de Confirmación de Eliminación -->
<div class="modal fade" id="deleteModalMetodoPago" tabindex="-1" aria-labelledby="deleteModalLabelMetodoPago" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="deleteModalLabelMetodoPago">Eliminar Metodo de Pago</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3>¿Estás seguro de que quieres eliminar el metodo de pago <strong class="text-danger" id="metodoPagoName"></strong>?</h3>
                <form id="deleteFormMetodoPago" method="post" class="mt-5">
                    <input type="hidden" id="metodoPagoId" name="MetodoPagoId" />
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                        <div class="col text-end">
                            <input type="submit" value="Eliminar" class="btn btn-danger" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
 

    <script>



        function openDeleteModal(metodoPagoId, metodoPagoName) {
            $('#metodoPagoName').text(metodoPagoName); // Asigna el nombre del metodo de pago al modal
            $('#metodoPagoId').val(metodoPagoId); // Asigna el id del metodo de pago al input oculto
            $('#deleteFormMetodoPago').attr('action', '/MetodoPagoes/Delete/' + metodoPagoId); // Configura la acción del formulario de eliminación
            $('#deleteModalMetodoPago').modal('show'); // Muestra el modal
        }
    </script>

