@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-Reseñas-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-Reseñas" aria-selected="true">Reseñas</button>
            <button class="nav-link" id="nav-Productos-tab" data-bs-toggle="tab" data-bs-target="#nav-Productos" type="button" role="tab" aria-controls="nav-Productos" aria-selected="true">Productos</button>
            <button class="nav-link" id="nav-Descuentos-tab" data-bs-toggle="tab" data-bs-target="#nav-Descuentos" type="button" role="tab" aria-controls="nav-Descuentos" aria-selected="true">Descuentos</button>
            <button class="nav-link" id="nav-Categorias-tab" data-bs-toggle="tab" data-bs-target="#nav-Categorias" type="button" role="tab" aria-controls="nav-Categorias" aria-selected="true">Categorias</button>
            <button class="nav-link" id="nav-Orden-tab" data-bs-toggle="tab" data-bs-target="#nav-Orden" type="button" role="tab" aria-controls="nav-Orden" aria-selected="true">Orden</button>
            <button class="nav-link" id="nav-MetodoDePago-tab" data-bs-toggle="tab" data-bs-target="#nav-MetodoDePago" type="button" role="tab" aria-controls="nav-MetodoDePago" aria-selected="true">MetodoDePago</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-Reseñas-tab" tabindex="0">
            <div id="Carga_VPReseñas">
                <div class="d-flex justify-content-center m-5">
                    <div>
                        <img src="https://i.gifer.com/TkMx.gif" alt="Cargando Reseñas..." width="100" height="100">
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-Productos" role="tabpanel" aria-labelledby="nav-Productos-tab" tabindex="0">
            <div id="Carga_VPProducto">
                <div class="d-flex justify-content-center m-5">
                    <div>
                        <img src="https://i.gifer.com/TkMx.gif" alt="" width="50" height="50">
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-Descuentos" role="tabpanel" aria-labelledby="nav-Descuentos-tab" tabindex="0">
            <div id="Carga_VPDescuentos">
                <div class="d-flex justify-content-center m-5">
                    <div>
                        <img src="https://i.gifer.com/TkMx.gif" alt="" width="50" height="50">
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-Categorias" role="tabpanel" aria-labelledby="nav-Categorias-tab" tabindex="0">
            <div id="Carga_VPCategorias">
                <div class="d-flex justify-content-center m-5">
                    <div>
                        <img src="https://i.gifer.com/TkMx.gif" alt="" width="50" height="50">
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-Orden" role="tabpanel" aria-labelledby="nav-Orden-tab" tabindex="0">
            <div id="Carga_VPOrden">
                <div class="d-flex justify-content-center m-5">
                    <div>
                        <img src="https://i.gifer.com/TkMx.gif" alt="" width="50" height="50">
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-MetodoDePago" role="tabpanel" aria-labelledby="nav-MetodoDePago-tab" tabindex="0">
            <div id="Carga_VPMetodoDePago">
                <div class="d-flex justify-content-center m-5">
                    <div>
                        <img src="https://i.gifer.com/TkMx.gif" alt="" width="50" height="50">
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            Carga_VPReseñas();
            $('#nav-VPReseñas-tab').click(function () {
                Carga_VPReseñas();
            });

            Carga_VPProducto();
            $('#nav-VPProductos-tab').click(function () {
                Carga_VPProducto();
            });
            Carga_VPDescuentos();
            $('#nav-VPDescuentos-tab').click(function () {
                Carga_VPDescuentos();
            });
            Carga_VPCategorias();
            $('#nav-VPCategorias-tab').click(function () {
                Carga_VPCategorias();
            });
            Carga_VPMetodoDePago(); 
            $('#nav-VPMetodoDePago-tab').click(function () {
                Carga_VPMetodoDePago();
            });
            Carga_VPOrden();
            $('#nav-VPOrden-tab').click(function () {
                Carga_VPOrden();
            });
        });

        function Carga_VPReseñas() {
            setTimeout(function () {
                $("#Carga_VPReseñas").load('@Url.Action("ListaReseña", "ReseñaProducto")', function () {
                    $('#TablaReseña').wrap('<div class="table-responsive"></div>').DataTable({
                        "language": {
                            "url": "https://cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json"
                        }
                    });
                });
            }, 3000);
        }

        function Carga_VPProducto() {
            $("#Carga_VPProducto").load('@Url.Action("ListaProducto", "Producto")', function () {
                $('#TablaProducto').wrap('<div class="table-responsive"></div>').DataTable({
                    "language": {
                        "url": "https://cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json"
                    }
                });
            });
        }

        function Carga_VPDescuentos() {
            $("#Carga_VPDescuentos").load('@Url.Action("ListaDescuento", "Descuento")', function () {
                $('#TablaDescuento').wrap('<div class="table-responsive"></div>').DataTable({
                    "language": {
                        "url": "https://cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json"
                    }
                });
            });
        }

        function Carga_VPCategorias() {
            $("#Carga_VPCategorias").load('@Url.Action("ListaCategoria", "Categorias")', function () {
                $('#TablaCategoria').wrap('<div class="table-responsive"></div>').DataTable({
                    "language": {
                        "url": "https://cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json"
                    }
                });
            });
        }

        function Carga_VPMetodoDePago() { 
            $("#Carga_VPMetodoDePago").load('@Url.Action("ListaMetodoDePago", "MetodoPagoes")', function () {
                $('#TablaMetodoDePago1').wrap('<div class="table-responsive"></div>').DataTable({
                    "language": {
                        "url": "https://cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json"
                    }
                });
            });
        }

        function Carga_VPOrden() {
            $("#Carga_VPOrden").load('@Url.Action("ListaOrden", "Ordens")', function () {
                $('#TablaOrden').wrap('<div class="table-responsive"></div>').DataTable({
                    "language": {
                        "url": "https://cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json"
                    }
                });
            });
        }
    </script>
}
