@model LEA_ProyectoMultimedia2024_V2_.Models.Tables.Categoria

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles De la categoria</h1>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pesokg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pesokg)
        </dd>
    </dl>
</div>
<div>

    <a asp-action="Edit" class="position-relative btn btn-success class=" btn-group"" asp-route-id="@Model?.CategoriaId">Editar</a> |
    <a asp-action="Index" class=" position-relative btn btn-info class=" btn-group"">Volver</a>
</div>
