@model IEnumerable<LEA_ProyectoMultimedia2024_V2_.Models.Tables.Categoria>

@{
    ViewData["Title"] = "Categorías";
}

<h1>Categorías</h1>
<div>
    <p>
        <a asp-action="PVCreate" id="BotonC" class="btn btn-success d-grid gap-2 d-grid">Crea una categoría</a>
    </p>
</div>
<table class="table" id="TablaCategoria">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pesokg)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pesokg)
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button class="btn btn-sm btn-info me-2" onclick="EditCategorias(@item.CategoriaId)">Editar</button>
                        <button class="btn btn-sm btn-primary me-2" onclick="DetailsCategorias(@item.CategoriaId)">Detalles</button>
                        <button type="button" class="btn btn-danger text-end" onclick="openDeleteModal('@item.CategoriaId', '@item.Nombre')">Eliminar</button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal de Confirmación de Eliminación -->
<div class="modal fade" id="deleteModalCategoria" tabindex="-1" aria-labelledby="deleteModalLabelCategoria" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="deleteModalLabelCategoria">Eliminar Categoría</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3>¿Estás seguro de que quieres eliminar la categoría <strong class="text-danger" id="categoriaName"></strong>?</h3>
                <form id="deleteFormCategoria" method="post" class="mt-5">
                    <input type="hidden" id="categoriaId" name="CategoriaId" />
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                        <div class="col text-end">
                            <input type="submit" value="Eliminar" class="btn btn-danger" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#TablaCategoria').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
                }
            });
        });

        // Función para abrir el modal de eliminación
        function openDeleteModal(categoriaId, categoriaName) {
            $('#categoriaName').text(categoriaName); // Asigna el nombre de la categoría al modal
            $('#categoriaId').val(categoriaId); // Asigna el id de la categoría al input oculto
            $('#deleteFormCategoria').attr('action', '/Categoria/Delete/' + categoriaId); // Configura la acción del formulario de eliminación
            $('#deleteModalCategoria').modal('show'); // Muestra el modal
        }
    </script>
}
