@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
        <nav>
        <input type="text" id="generalSearch" placeholder="Buscar en todas las tablas..." class="form-control mb-3">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-Reseñas-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-Reseñas" aria-selected="true">Reseñas</button>
                <button class="nav-link" id="nav-Productos-tab" data-bs-toggle="tab" data-bs-target="#nav-Productos" type="button" role="tab" aria-controls="nav-Productos" aria-selected="true">Productos</button>
                <button class="nav-link" id="nav-Descuentos-tab" data-bs-toggle="tab" data-bs-target="#nav-Descuentos" type="button" role="tab" aria-controls="nav-Descuentos" aria-selected="true">Descuentos</button>
                <button class="nav-link" id="nav-Categorias-tab" data-bs-toggle="tab" data-bs-target="#nav-Categorias" type="button" role="tab" aria-controls="nav-Categorias" aria-selected="true">Categorias</button>
                <button class="nav-link" id="nav-Orden-tab" data-bs-toggle="tab" data-bs-target="#nav-Orden" type="button" role="tab" aria-controls="nav-Orden" aria-selected="true">Orden</button>
                <button class="nav-link" id="nav-MetodoDePago-tab" data-bs-toggle="tab" data-bs-target="#nav-MetodoDePago" type="button" role="tab" aria-controls="nav-MetodoDePago" aria-selected="true">MetodoDePago</button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-Reseñas-tab" tabindex="0">
                <div id="Carga_VPReseñas">
                    <div class="d-flex justify-content-center m-5">
                        <div>
                            <img src="https://i.gifer.com/TkMx.gif" alt="Cargando Reseñas..." width="100" height="100">

                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-Productos" role="tabpanel" aria-labelledby="nav-Productos-tab" tabindex="0">
                <div id="Carga_VPProducto">
                    <div class="d-flex justify-content-center m-5">
                        <div>
                            <img src="https://i.gifer.com/TkMx.gif" alt="" width="50" height="50">
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-Descuentos" role="tabpanel" aria-labelledby="nav-Descuentos-tab" tabindex="0">
                <div id="Carga_VPDescuentos">
                    <div class="d-flex justify-content-center m-5">
                        <div>
                            <img src="https://i.gifer.com/TkMx.gif" alt="" width="50" height="50">
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-Categorias" role="tabpanel" aria-labelledby="nav-Categorias-tab" tabindex="0">
                <div id="Carga_VPCategorias">
                    <div class="d-flex justify-content-center m-5">
                        <div>
                            <img src="https://i.gifer.com/TkMx.gif" alt="" width="50" height="50">
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-Orden" role="tabpanel" aria-labelledby="nav-Orden-tab" tabindex="0">
                <div id="Carga_VPOrden">
                    <div class="d-flex justify-content-center m-5">
                        <div>
                            <img src="https://i.gifer.com/TkMx.gif" alt="" width="50" height="50">
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-MetodoDePago" role="tabpanel" aria-labelledby="nav-MetodoDePago-tab" tabindex="0">
                <div id="Carga_VPMetodoDePago">
                    <div class="d-flex justify-content-center m-5">
                        <div>
                            <img src="https://i.gifer.com/TkMx.gif" alt="" width="50" height="50">
                        </div>
                    </div>
                </div>
            </div>
        </div>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            Carga_VPReseñas();
            $('#nav-VPReseñas-tab').click(function () {
                Carga_VPReseñas();
            });
            Carga_VPProducto();
            $('#nav-VPProductos-tab').click(function () {
                Carga_VPProducto();
            });
            Carga_VPDescuentos();
            $('#nav-VPDescuentos-tab').click(function () {
                Carga_VPDescuentos();
            });
            Carga_VPCategorias();
            $('#nav-VPCategorias-tab').click(function () {
                Carga_VPCategorias();
            });
            Carga_VPMetodoDePago();
            $('#nav-VPMetodoDePago-tab').click(function () {
                Carga_VPMetodoDePago();
            });
            Carga_VPOrden();
            $('#nav-VPOrden-tab').click(function () {
                Carga_VPOrden();
            });


            // Crear VPCategorias
            $(document).on('click', '#BotonC', function (e) {
                e.preventDefault();
                Desabilitar();
                $('#Carga_VPCategorias').load('@Url.Action("PVCreate", "Categorias")');
            });


            //crear vpdescuento
            $(document).on('click', '#BotonC', function (e) {
                e.preventDefault();
                Desabilitar()
                $('#Carga_VPDescuentos').load('@Url.Action("PVCreate", "Descuento")');
            });


            //crear VPMetodoPago
            $(document).on('click', '#BotonC', function (e) {
                e.preventDefault();
                Desabilitar()
                $('#Carga_VPMetodoDePago').load('@Url.Action("PVCreate", "MetodoPagoes")');
            });


            //crear VPOrden
            $(document).on('click', '#BotonC', function (e) {
                e.preventDefault();
                Desabilitar()
                $('#Carga_VPOrden').load('@Url.Action("PVCreate", "Ordens")');
            });

            //crear VPProducto
            $(document).on('click', '#BotonC', function (e) {
                e.preventDefault();
                Desabilitar()
                $('#Carga_VPProducto').load('@Url.Action("PVCreate", "Producto")');
            });

            //crear VPReseñas
            $(document).on('click', '#BotonC', function (e) {
                e.preventDefault();
                Desabilitar()
                $('#Carga_VPReseñas').load('@Url.Action("PVCreate", "ReseñaProducto")');
            });
//------------------------------------------------Cargar_Crear--------------------------------------------------------------
        });
        //editar categorias
        function EditCategorias(id) {
            $("#Carga_VPCategorias").load('@Url.Action("PVEdit", "Categorias")' + '?id=' + id);
            Desabilitar();
        }

        //editar descuento
        function EditDescuento(id) {
            $("#Carga_VPDescuentos").load('@Url.Action("PVEdit", "Descuento")' + '?id=' + id);
            Desabilitar();
        }

        //editar metodoDepago
        function EditMetodoDepago(id) {
            $("#Carga_VPMetodoDePago").load('@Url.Action("PVEdit", "MetodoPagoes")' + '?id=' + id);
        }

        //editar orden
        function EditOrden(id) {
            $("#Carga_VPOrden").load('@Url.Action("PVEdit", "Ordens")' + '?id=' + id);
            Desabilitar();
        }

        // editar producto
        function EditProductos(id) {
            $("#Carga_VPProducto").load('@Url.Action("PVEdit", "Producto")' + '?id=' + id);
            Desabilitar();
        }

        //editar reseñas
        function EditReseñas(id) {
            $("#Carga_VPReseñas").load('@Url.Action("PVEdit", "ReseñaProducto")' + '?id=' + id);
            Desabilitar();
        }

//----------------------------------------------Cargar editar----------------------------------------------------------

        // Ver detalles de Categorias
        function DetailsCategorias(id) {
            $("#Carga_VPCategorias").load('@Url.Action("PVDetails", "Categorias")' + '?id=' + id);
            Desabilitar();
        }

        // Ver detalles de descuentos
        function DetailsDescuento(id) {
            $("#Carga_VPDescuentos").load('@Url.Action("PVDetails", "Descuento")' + '?id=' + id);
            Desabilitar();
        }

        // Ver detalles de metodo de pago
        function DetailsMetodoDePago(id) {
            $("#Carga_VPMetodoDePago").load('@Url.Action("PVDetails", "MetodoPagoes")' + '?id=' + id);
            Desabilitar();
        }

        // Ver detalles de orden
        function DetailsOrden(id) {
            $("#Carga_VPOrden").load('@Url.Action("PVDetails", "Ordens")' + '?id=' + id);
            Desabilitar();
        }

        // Ver detalles de Productos
        function DetailsProductos(id) {
            $("#Carga_VPProducto").load('@Url.Action("PVDetails", "Producto")' + '?id=' + id);
            Desabilitar();
        }

        // Ver detalles de Reseñas
        function DetailsReseñas(id) {
            $("#Carga_VPReseñas").load('@Url.Action("PVDetails", "ReseñaProducto")' + '?id=' + id);
            Desabilitar();
        }

//------------------------------------------Cargar detalles------------------------------------------------------------


        function Carga_VPReseñas() {
            setTimeout(function () {
                $("#Carga_VPReseñas").load('@Url.Action("ListaReseña", "ReseñaProducto")', function () {
                    $('#TablaReseña').wrap('<div class="table-responsive"></div>').DataTable({
                        "language": {
                            "url": "https://cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json"
                        },
                        "paging": false, // elimina la paginacion
                        "scrollY": "400px", // define el scroll vertical
                        "scrollX": true,   // activa el scroll horizontal
                        "searching": false, // elimina el buscador individual por tabla
                        "info": false // saca la informacion de abajo de la tabla
                    });
                });
            }, 3000);
        }

        function Carga_VPProducto() {
            $("#Carga_VPProducto").load('@Url.Action("ListaProducto", "Producto")', function () {
                $('#TablaProducto').wrap('<div class="table-responsive"></div>').DataTable({
                    "language": {
                        "url": "https://cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json"
                    },
                    "paging": false,
                    "scrollY": "400px",
                    "scrollX": true,
                    "searching": false, // elimina el buscador individual por tabla
                    "info": false
                });
            });
        }

        function Carga_VPDescuentos() {
            $("#Carga_VPDescuentos").load('@Url.Action("ListaDescuento", "Descuento")', function () {
                $('#TablaDescuento').wrap('<div class="table-responsive"></div>').DataTable({
                    "language": {
                        "url": "https://cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json"
                    },
                    "paging": false,
                    "scrollY": "400px",
                    "scrollX": true,
                    "searching": false, // elimina el buscador individual por tabla
                    "info": false
                });
            });
        }

        function Carga_VPCategorias() {
            $("#Carga_VPCategorias").load('@Url.Action("ListaCategoria", "Categorias")', function () {
                $('#TablaCategoria').wrap('<div class="table-responsive"></div>').DataTable({
                    "language": {
                        "url": "https://cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json"
                    },
                    "paging": false,
                    "scrollY": "400px",
                    "scrollX": true,
                    "searching": false, // elimina el buscador individual por tabla
                    "info": false
                });
            });
        }

        function Carga_VPMetodoDePago() {
            $("#Carga_VPMetodoDePago").load('@Url.Action("ListaMetodoDePago", "MetodoPagoes")', function () {
                $('#TablaMetodoDePago1').wrap('<div class="table-responsive"></div>').DataTable({
                    "language": {
                        "url": "https://cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json"
                    },
                    "paging": false,
                    "scrollY": "400px",
                    "scrollX": true,
                    "searching": false, // elimina el buscador individual por tabla
                    "info": false
                });
            });
        }

        function Carga_VPOrden() {
            $("#Carga_VPOrden").load('@Url.Action("ListaOrden", "Ordens")', function () {
                $('#TablaOrden').wrap('<div class="table-responsive"></div>').DataTable({
                    "language": {
                        "url": "https://cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json"
                    },
                    "paging": false,
                    "scrollY": "400px",
                    "scrollX": true,
                    "searching": false, // elimina el buscador individual por tabla
                    "info": false
                });
            });
        }
        function Desabilitar() {
            $('#nav-Reseñas-tab').addClass('disabled');
            $('#nav-Productos-tab').addClass('disabled');
            $('#nav-Descuentos-tab').addClass('disabled');
            $('#nav-Categorias-tab').addClass('disabled');
            $('#nav-Orden-tab').addClass('disabled');
            $('#nav-MetodoDePago-tab').addClass('disabled');
        }
    </script>
    <script>
        $(document).ready(function () {
            Carga_VPReseñas();
            Carga_VPProducto();
            Carga_VPDescuentos();
            Carga_VPCategorias();
            Carga_VPMetodoDePago();
            Carga_VPOrden();

            $('#generalSearch').on('input', function () {
                var searchTerm = $(this).val().toLowerCase();

                $('.tab-pane').each(function () {
                    $(this).find('table tbody tr').each(function () {
                        var rowText = $(this).text().toLowerCase();
                        if (rowText.includes(searchTerm)) {
                            $(this).show();
                        } else {
                            $(this).hide();
                        }
                    });
                });
            });
        });
    </script>

}

