@model LEA_ProyectoMultimedia2024_V2_.Models.Tables.Descuento

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar producto en descuento</h1>

<h3>¿Estas seguro/a que quieres eliminar el producto en descuento?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PorcentajeDescuento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PorcentajeDescuento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDescuento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoDescuento)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DescuentoId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-info">volver</a>
    </form>
</div>
