@model LEA_ProyectoMultimedia2024_V2_.Models.Tables.Descuento

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles del producto en descuento</h1>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PorcentajeDescuento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PorcentajeDescuento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDescuento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoDescuento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-success" asp-route-id="@Model?.DescuentoId">Editar</a> |
    <a asp-action="Index" class="btn btn-info">Volver</a>
</div>
