@model IEnumerable<LEA_ProyectoMultimedia2024_V2_.Models.Tables.Descuento>

@{
    ViewData["Title"] = "Productos en Descuentos";
}



<p class="text-end mt-4">
    <button asp-action="PVCreate" id="BotonC" class="btn btn-success">Crear un Descuento en producto</button>
</p>
<table class="table" id="TablaDescuento">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.PorcentajeDescuento)</th>
            <th>@Html.DisplayNameFor(model => model.FechaInicio)</th>
            <th>@Html.DisplayNameFor(model => model.FechaFin)</th>
            <th>@Html.DisplayNameFor(model => model.TipoDescuento)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.PorcentajeDescuento)</td>
                <td>@Html.DisplayFor(modelItem => item.FechaInicio)</td>
                <td>@Html.DisplayFor(modelItem => item.FechaFin)</td>
                <td>@Html.DisplayFor(modelItem => item.TipoDescuento)</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button class="btn btn-sm btn-info me-2" onclick="EditDescuento(@item.DescuentoId)">Editar</button>
                        <button class="btn btn-sm btn-primary me-2" onclick="DetailsDescuento(@item.DescuentoId)">Detalles</button>
                        <button type="button" class="btn btn-danger" onclick="openDeleteModalDescuento('@item.DescuentoId', '@item.PorcentajeDescuento')">Eliminar</button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal de Confirmación de Eliminación para Descuento -->
<div class="modal fade" id="deleteModalDescuento" tabindex="-1" aria-labelledby="deleteModalLabelDescuento" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title"style="color: black;" id="deleteModalLabelDescuento">Eliminar Descuento</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"style="color: black;"
                <h3>¿Estás seguro de que quieres eliminar el descuento con porcentaje <strong class="text-danger" id="descuentoName"></strong>?</h3>
                <form id="deleteFormDescuento" method="post" class="mt-5">
                    <input type="hidden" id="descuentoId" name="DescuentoId" />
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                        <div class="col text-end">
                            <input type="submit" value="Eliminar" class="btn btn-danger" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

    <script>

        // Función para abrir el modal de eliminación para Descuento
        function openDeleteModalDescuento(descuentoId, descuentoName) {
            $('#descuentoName').text(descuentoName); // Asigna el nombre o porcentaje del descuento al modal
            $('#descuentoId').val(descuentoId); // Asigna el id del descuento al input oculto
            $('#deleteFormDescuento').attr('action', '/Descuento/Delete/' + descuentoId); // Configura la acción del formulario de eliminación
            $('#deleteModalDescuento').modal('show'); // Muestra el modal
        }
    </script>

