@model LEA_ProyectoMultimedia2024_V2_.Models.Tables.DetalleOrden

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar orden detallada</h1>

<h3>¿Estas seguro/a que quieres eliminar este detalle de orden?</h3>
<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Orden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Orden.OrdenId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producto.Nombre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DetalleId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-info">Volver</a>
    </form>
</div>
